data/*
/data
/dataset
dataset/**
log/*
log/**
log/
*/data
**/data/*
*/data/**

fedscope/exp
fed_scale/data/*
flower/data/*
flower/data
fml/data/*
fml/data

fedscope/exp/*
fedscope/exp/**

fed_scale/log/*
fed_scale/log
fed_scale/log/**